
<div class="row">
  <div class="col s6 offset-s3">
    <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
    <form [formGroup]="authForm" (ngSubmit)="login()">
      <div class="input-field">
        <label for="email">Email</label>
        <input [formControlName]="'email'" id="email" type="email" class="validate">
      </div>
      <div class="input-field">
        <label for="password">Password</label>
        <input [formControlName]="'password'" id="password" type="password" class="validate">
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!authForm.valid">Login</button>    
    </form>
  </div>
</div>