h3 {
  width: 200px;
  text-align: center;
}

button {
  display: block;
  width: 100%;
}

.active {
  background-color: #9AF4C8;
  border-left: 3px solid #69f0ae;
  color: rgba(0,0,0,.87);
  border-radius: 0px;
}